/*---------------------
		COLORS
-----------------------*/
:root {
  --light_blue: 46, 196, 182;
  --alpha: .1; }

/*---------------------
		FONTS
-----------------------*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  padding: 3rem; }

/*-------------------------------
			INDEX PAGE
---------------------------------*/
.container {
  display: grid;
  grid-template-rows: 15vh repeat(2, 40vh);
  grid-template-columns: repeat(4, 30rem);
  justify-content: center;
  background-color: #00171f;
  background-image: linear-gradient(to bottom right, #00171f, #00171f, #00171f, #1d3557, #00171f);
  grid-template-rows: repeat(2, 90vh);
  position: relative; }

.main-content {
  background-color: #ffffff;
  width: 120rem;
  border-radius: 2rem;
  display: table;
  height: 70%;
  position: absolute;
  top: 11rem;
  left: 50%;
  transform: translateX(-50%); }

/*-------------------------------
		ADD PRODUCT PAGE
---------------------------------*/
.container-form {
  display: grid;
  grid-template-rows: 15vh repeat(2, 40vh);
  grid-template-columns: repeat(4, 30rem);
  justify-content: center;
  background-color: #00171f;
  background-image: linear-gradient(to bottom right, #00171f, #00171f, #00171f, #1d3557, #00171f);
  grid-template-rows: 96vh; }

.main-form-content {
  background-color: #ffffff;
  width: 120rem;
  border-radius: 2rem;
  position: absolute;
  top: 11rem;
  left: 50%;
  transform: translateX(-50%);
  height: 70vh;
  grid-template-columns: repeat(2, 1fr); }

body {
  font-family: Lato;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #00171f; }

.heading-primary {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  position: absolute;
  font-size: 4rem;
  font-weight: lighter;
  letter-spacing: 1px;
  color: #ffffff;
  left: 16rem; }

.btn-text {
  color: #ffffff;
  font-family: inherit;
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 1px; }

.warning {
  color: #e71d36;
  font-family: inherit;
  font-size: 1.3rem;
  position: relative;
  bottom: -1rem;
  left: 5rem; }

.error-handler {
  position: absolute;
  left: 7rem;
  top: 1rem;
  line-height: 1.3; }
  .error-handler__error {
    font-size: 1.6rem;
    color: #e71d36; }

.btn {
  /*------------------------------
			Product list button
	--------------------------------*/
  /*------------------------------
			Add product button
	--------------------------------*/ }
  .btn__list, .btn__list:link, .btn__list:visited {
    top: 2.3rem;
    right: 17rem;
    width: 10rem;
    height: 3rem;
    background-color: #e71d36;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    position: absolute;
    cursor: pointer;
    border: none;
    box-shadow: 0 0.3rem 1rem rgba(0, 23, 31, 0.2);
    transition: all .3s; }
    .btn__list:hover, .btn__list:link:hover, .btn__list:visited:hover {
      background-color: #1d3557; }
      .btn__list:hover::after, .btn__list:link:hover::after, .btn__list:visited:hover::after {
        transform: scaleX(0.8) scaleY(0.8);
        opacity: 0; }
    .btn__list:active, .btn__list:link:active, .btn__list:visited:active {
      transform: translateY(0.2rem); }
    .btn__list:active, .btn__list:focus, .btn__list:link:active, .btn__list:link:focus, .btn__list:visited:active, .btn__list:visited:focus {
      outline: none;
      box-shadow: 0 0.3rem 1rem rgba(0, 23, 31, 0.2); }
  .btn__add, .btn__add:link, .btn__add:visited {
    top: -22.8rem;
    right: 2.6rem;
    width: 13rem;
    height: 4rem;
    background-color: #00171f;
    border-radius: 1rem;
    z-index: 50;
    position: absolute;
    cursor: pointer;
    border: none;
    box-shadow: 0 0.3rem 1rem rgba(0, 23, 31, 0.2);
    transition: all .3s; }
    .btn__add:hover, .btn__add:link:hover, .btn__add:visited:hover {
      background-color: #1d3557; }
      .btn__add:hover::after, .btn__add:link:hover::after, .btn__add:visited:hover::after {
        transform: scaleX(0.8) scaleY(0.8);
        opacity: 0; }
    .btn__add:active, .btn__add:link:active, .btn__add:visited:active {
      transform: translateY(0.2rem); }
    .btn__add:active, .btn__add:focus, .btn__add:link:active, .btn__add:link:focus, .btn__add:visited:active, .btn__add:visited:focus {
      outline: none;
      box-shadow: 0 0.3rem 1rem rgba(0, 23, 31, 0.2); }

.card {
  background-color: #00171f;
  color: #ffffff;
  width: 25rem;
  height: 26.5rem;
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
  display: inline-block;
  margin: 2.3rem; }
  .card__checkbox {
    position: absolute;
    top: .3rem;
    left: 1.5rem; }
    .card__checkbox .checkboxContainer input {
      display: none; }
    .card__checkbox .checkboxContainer {
      display: inline-block;
      position: relative;
      top: 1rem;
      width: 3rem;
      height: 3rem;
      cursor: pointer;
      font-family: sans-serif;
      font-size: 2.5rem; }
      .card__checkbox .checkboxContainer .checkmark {
        display: inline-block;
        width: 2.5rem;
        height: 2.5rem;
        background-color: #ffffff;
        border: 1px solid #46494c;
        position: absolute;
        left: 0;
        top: 2px;
        border-radius: 4px; }
      .card__checkbox .checkboxContainer input:checked + .checkmark {
        background-color: #1d3557;
        border: 1px solid #ffffff;
        transition: .2s; }
      .card__checkbox .checkboxContainer:hover .checkmark {
        background-color: #1d3557; }
      .card__checkbox .checkboxContainer input:checked + .checkmark:after {
        content: "";
        position: absolute;
        height: 4px;
        width: 9px;
        border-left: 2px solid #ffffff;
        border-bottom: 2px solid #ffffff;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-45deg); }
  .card:hover {
    box-shadow: 2px 2px 10px #1d3557;
    transition: all .3s; }
  .card__picture {
    background-repeat: no-repeat;
    background-size: cover;
    height: 10rem;
    width: 26rem;
    position: relative;
    left: 50%;
    transform: translateX(-50%); }
    .card__picture--1 {
      background-image: url(../img/dvd.jpg); }
    .card__picture--2 {
      background-image: url(../img/book.jpg); }
    .card__picture--3 {
      background-image: url(../img/chair.jpg); }
  .card__details {
    margin-top: 1.6rem;
    line-height: 3.3rem;
    letter-spacing: 0.5px;
    text-align: center;
    text-align: -moz-center;
    text-align: -webkit-center; }
    .card__details ul {
      list-style: none;
      width: 60%;
      margin: 0 auto; }
      .card__details ul li {
        text-align: center;
        font-size: 1.6rem;
        color: #ffffff;
        padding: 2px 0;
        margin: 0 -2.8rem;
        position: relative;
        top: 1.2rem;
        left: -7%;
        width: 23rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #2ec4b6; }
    .card__details--data {
      font-size: 1.3rem; }

.dvd_parameters, .book_parameters, .furniture_parameters {
  display: none; }

ul.dvd .dvd_parameters, ul.book .book_parameters, ul.furniture .furniture_parameters {
  display: block; }

.main-form {
  position: relative;
  top: 14rem;
  left: 2rem;
  display: grid; }
  .main-form input {
    padding: 0 1rem;
    margin-bottom: 5rem;
    margin-left: 1.5rem;
    width: 40rem;
    height: 5rem;
    font-size: 1.6rem;
    border: none;
    border-bottom: 2px solid #dddddd;
    box-shadow: none;
    outline: none;
    box-sizing: border-box;
    transition: .3s; }
    .main-form input:last-child {
      margin-bottom: 0;
      width: 15rem;
      height: 3.3rem;
      border: none; }
      .main-form input:last-child:hover {
        background-color: #ff9f1c; }
    .main-form input:focus {
      border-radius: 1rem;
      border: 2px solid #dddddd;
      border: 2px solid #46494c; }
    .main-form input:hover {
      background-color: rgba(var(--light_blue), var(--alpha)); }
  .main-form input[name=name] {
    position: relative;
    left: -1.4rem; }
  .main-form input[name=price] {
    position: relative;
    left: -3.7rem; }
  .main-form label[for=sku],
  .main-form label[for=name],
  .main-form label[for=price] {
    font-size: 2rem;
    letter-spacing: 1px;
    position: relative;
    top: -4rem;
    left: 5rem; }
  .main-form span {
    font-size: 2rem;
    color: #e71d36; }

.switch-type {
  position: absolute;
  top: 24rem;
  right: 36rem; }
  .switch-type__option {
    display: block;
    position: absolute; }
    .switch-type__option--select {
      position: relative;
      right: -20.2rem;
      top: -27.5rem;
      width: 35rem;
      height: 4rem;
      border: none;
      border-radius: 1rem;
      box-shadow: 0 0.3rem 1rem rgba(0, 23, 31, 0.2);
      outline: none;
      -webkit-appearance: button;
      -moz-appearance: button;
      appearance: button;
      font-size: 1.3rem;
      cursor: pointer; }
  .switch-type:before {
    content: '';
    position: absolute;
    top: -26rem;
    right: -18.8rem;
    z-index: 20;
    pointer-events: none;
    height: 1.5rem;
    width: 1.5rem;
    border-left: 2.5px solid #46494c;
    border-bottom: 2.5px solid #46494c;
    transform: translate(-50%, -50%) rotate(-45deg);
    transition: .3s; }
  .switch-type:hover:before {
    border-color: #2ec4b6; }

.form-changer {
  background-color: #dddddd;
  width: 36%;
  height: 23rem;
  border-radius: 1rem;
  position: relative;
  top: -29rem;
  left: 69rem;
  box-shadow: 3px 5px 12px #46494c;
  /*----------------------
			DISC SIZE
	------------------------*/
  /*----------------------
			BOOK WEIGHT
	------------------------*/
  /*----------------------
	  FURNITURE DIMENSION
	------------------------*/ }
  .form-changer__size {
    position: absolute;
    top: 4.2rem;
    left: 50%;
    transform: translateX(-53%); }
    .form-changer__size input {
      padding: 0 1rem;
      margin-bottom: 5rem;
      margin-left: 1.5rem;
      width: 40rem;
      height: 5rem;
      font-size: 1.6rem;
      border: none;
      border-bottom: 2px solid #dddddd;
      box-shadow: none;
      outline: none;
      box-sizing: border-box;
      transition: .3s; }
      .form-changer__size input:last-child {
        margin-bottom: 0;
        width: 15rem;
        height: 3.3rem;
        border: none; }
        .form-changer__size input:last-child:hover {
          background-color: #ff9f1c; }
      .form-changer__size input:focus {
        border-radius: 1rem;
        border: 2px solid #dddddd;
        border: 2px solid #46494c; }
      .form-changer__size input:hover {
        background-color: rgba(var(--light_blue), var(--alpha)); }
    .form-changer__size input[name=name] {
      position: relative;
      left: -1.4rem; }
    .form-changer__size input[name=price] {
      position: relative;
      left: -3.7rem; }
    .form-changer__size label[for=sku],
    .form-changer__size label[for=name],
    .form-changer__size label[for=price] {
      font-size: 2rem;
      letter-spacing: 1px;
      position: relative;
      top: -4rem;
      left: 5rem; }
    .form-changer__size span {
      font-size: 2rem;
      color: #e71d36; }
    .form-changer__size--description {
      position: absolute;
      top: 9rem;
      left: 50%;
      transform: translateX(-50%);
      font-size: 1.3rem;
      width: -moz-max-content; }
  .form-changer__weight {
    position: absolute;
    top: 4.2rem;
    left: 50%;
    transform: translateX(-53%); }
    .form-changer__weight input {
      padding: 0 1rem;
      margin-bottom: 5rem;
      margin-left: 1.5rem;
      width: 40rem;
      height: 5rem;
      font-size: 1.6rem;
      border: none;
      border-bottom: 2px solid #dddddd;
      box-shadow: none;
      outline: none;
      box-sizing: border-box;
      transition: .3s; }
      .form-changer__weight input:last-child {
        margin-bottom: 0;
        width: 15rem;
        height: 3.3rem;
        border: none; }
        .form-changer__weight input:last-child:hover {
          background-color: #ff9f1c; }
      .form-changer__weight input:focus {
        border-radius: 1rem;
        border: 2px solid #dddddd;
        border: 2px solid #46494c; }
      .form-changer__weight input:hover {
        background-color: rgba(var(--light_blue), var(--alpha)); }
    .form-changer__weight input[name=name] {
      position: relative;
      left: -1.4rem; }
    .form-changer__weight input[name=price] {
      position: relative;
      left: -3.7rem; }
    .form-changer__weight label[for=sku],
    .form-changer__weight label[for=name],
    .form-changer__weight label[for=price] {
      font-size: 2rem;
      letter-spacing: 1px;
      position: relative;
      top: -4rem;
      left: 5rem; }
    .form-changer__weight span {
      font-size: 2rem;
      color: #e71d36; }
    .form-changer__weight--description {
      position: absolute;
      top: 9rem;
      left: 50%;
      transform: translateX(-50%);
      font-size: 1.3rem;
      width: -moz-max-content; }
  .form-changer__dimension {
    position: absolute;
    top: 4.2rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: baseline; }
    .form-changer__dimension input {
      padding: 0 1rem;
      margin-bottom: 5rem;
      margin-left: 1.5rem;
      width: 40rem;
      height: 5rem;
      font-size: 1.6rem;
      border: none;
      border-bottom: 2px solid #dddddd;
      box-shadow: none;
      outline: none;
      box-sizing: border-box;
      transition: .3s; }
      .form-changer__dimension input:last-child {
        margin-bottom: 0;
        width: 15rem;
        height: 3.3rem;
        border: none; }
        .form-changer__dimension input:last-child:hover {
          background-color: #ff9f1c; }
      .form-changer__dimension input:focus {
        border-radius: 1rem;
        border: 2px solid #dddddd;
        border: 2px solid #46494c; }
      .form-changer__dimension input:hover {
        background-color: rgba(var(--light_blue), var(--alpha)); }
    .form-changer__dimension input[name=name] {
      position: relative;
      left: -1.4rem; }
    .form-changer__dimension input[name=price] {
      position: relative;
      left: -3.7rem; }
    .form-changer__dimension label[for=sku],
    .form-changer__dimension label[for=name],
    .form-changer__dimension label[for=price] {
      font-size: 2rem;
      letter-spacing: 1px;
      position: relative;
      top: -4rem;
      left: 5rem; }
    .form-changer__dimension span {
      font-size: 2rem;
      color: #e71d36; }
    .form-changer__dimension--description {
      position: absolute;
      top: 9rem;
      left: 50%;
      transform: translateX(-50%);
      font-size: 1.3rem;
      width: -moz-max-content; }
  .form-changer input[name=size],
  .form-changer input[name=weight] {
    width: 28rem; }
  .form-changer input[name=height],
  .form-changer input[name=width],
  .form-changer input[name=length] {
    position: relative;
    top: 3rem;
    left: -7rem;
    width: 7.5rem;
    margin-left: 3rem; }
  .form-changer label[for=weight],
  .form-changer label[for=size] {
    font-size: 2rem; }
  .form-changer label[for=dimension] {
    position: relative;
    top: -2rem;
    left: 5rem;
    font-size: 2rem; }

.header {
  width: 100%;
  height: 7.4rem;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #e71d36;
  border-bottom: 2px solid #ffffff; }
  .header .divider {
    background-color: #ffffff;
    width: .2rem;
    height: 4.9rem;
    position: absolute;
    top: 1.3rem;
    left: 40.7rem; }
  .header .link a:link, .header .link a:visited {
    text-transform: uppercase;
    position: absolute;
    top: 2.8rem;
    left: 43rem;
    text-decoration: none;
    font-size: 1.9rem;
    color: #ffffff;
    transition: .3s;
    letter-spacing: 1px; }
    .header .link a:link:after, .header .link a:visited:after {
      content: '';
      position: absolute;
      top: 1.5rem;
      right: -2.8rem;
      z-index: 10;
      pointer-events: inherit;
      height: 1.5rem;
      width: 1.5rem;
      border-left: 2.5px solid #ffffff;
      border-bottom: 2.5px solid #ffffff;
      transform: translate(-50%, -50%) rotate(-135deg);
      transition: .6s; }
  .header .link a:hover {
    color: #2ec4b6; }
    .header .link a:hover:after {
      content: '';
      border-left: 2.5px solid #2ec4b6;
      border-bottom: 2.5px solid #2ec4b6;
      transform: translate(-20%, -50%) rotate(-135deg); }
  .header__option {
    display: block;
    position: relative; }
    .header__option--select {
      position: absolute;
      right: 27rem;
      top: 2.3rem;
      width: 20rem;
      height: 3rem;
      border: none;
      border-bottom-left-radius: 1rem;
      border-top-left-radius: 1rem;
      box-shadow: 0 0.3rem 1rem rgba(0, 23, 31, 0.2);
      outline: none;
      -webkit-appearance: button;
      -moz-appearance: button;
      appearance: button;
      font-size: 1.3rem;
      cursor: pointer; }
    .header__option:before {
      content: '';
      position: absolute;
      top: 3.6rem;
      right: 27.4rem;
      z-index: 10;
      pointer-events: none;
      height: 1.5rem;
      width: 1.5rem;
      border-left: 2.5px solid #46494c;
      border-bottom: 2.5px solid #46494c;
      transform: translate(-50%, -50%) rotate(-45deg);
      transition: .3s; }
    .header__option:hover:before {
      border-color: #2ec4b6; }
