@mixin button_list-add(){

	position: absolute;
	cursor: pointer;
	border: none;
	box-shadow: 0 .3rem 1rem rgba($color-dark-blue,.2);
	transition: all .3s;

		&:hover{
				background-color: $color-mid-dark-blue;
				
			&::after{
				transform: scaleX(.8) scaleY(.8);
				opacity: 0;
			}
		}

			&:active{
				transform: translateY(.2rem);
			}

			&:active,
			&:focus{
				outline: none;
				box-shadow: 0 .3rem 1rem rgba($color-dark-blue,.2);
			}
}

@mixin main-content(){
	background-color: $color-white;
	width: 120rem;
	border-radius: 2rem;
}

@mixin form-input_label-style(){
	input{
			padding: 0 1rem;
			margin-bottom: 5rem;
			margin-left: 1.5rem;
			width: 40rem;
			height: 5rem;
			font-size: $default-font-size;
			border: none;
			border-bottom: 2px solid $color-gray-light-2;
			box-shadow: none;
			outline: none;
			box-sizing: border-box;
			transition: .3s;

			&:last-child{
				margin-bottom: 0;
				width: 15rem;
				height: 3.3rem;
				border: none;

				&:hover{
					background-color: $color-orange-yellow;
				}
			}

			&:focus{
				border-radius: 1rem;
				border: 2px solid $color-gray-light-2;
				border: 2px solid $color-gray-light;
			}

			&:hover{
				background-color: rgba(var(--light_blue), var(--alpha));
			}
		}

	input[name=name]{
		position: relative;
		left: -1.4rem;
	}

	input[name=price]{
		position: relative;
		left: -3.7rem;
	}



	label[for=sku],
	label[for=name],
	label[for=price]{
		font-size: $label-font-size;
		letter-spacing: $letter-spacing-1;
		position: relative;
		top: -4rem;
		left: 5rem;
	}

	span{
			font-size: $label-font-size;
			color: $color-rose-red;
		}
}

@mixin form-changer-description(){
	&--description{
		position: absolute;
		top: 9rem;
		left: 50%;
		transform: translateX(-50%);
		font-size: $small-font-size;
		width: -moz-max-content;
	}
}

@mixin container(){
	display: grid;
	grid-template-rows: 15vh repeat(2, 40vh);
	grid-template-columns: repeat(4, 30rem);
	justify-content: center;
	background-color: $color-dark-blue;
	background-image: linear-gradient(to bottom right, $color-dark-blue, $color-dark-blue,
		$color-dark-blue, $color-mid-dark-blue, $color-dark-blue);
}
