/*---------------------
		COLORS
-----------------------*/
:root{
	--light_blue: 46, 196, 182;
	--alpha: .1;
}

$color-white: #ffffff;

$color-dark-blue: #00171f;
$color-mid-dark-blue: #1d3557;
$color-light-blue: #2ec4b6;
$color-rose-red: #e71d36;
$color-orange-yellow: #ff9f1c;

$color-gray-light: #46494c;
$color-gray-light-2: #dddddd;

/*---------------------
		FONTS
-----------------------*/
$default-font-size: 1.6rem;
$main-heading: 4rem;
$small-font-size: 1.3rem;
$label-font-size: 2rem;
$link-font: 1.9rem;

$letter-spacing-half: .5px;
$letter-spacing-1: 1px;
