.header{	
	width: 100%;
	height: 7.4rem;
	position: absolute;
	top: 0;
	left: 0;
	background-color: $color-rose-red;
	border-bottom: 2px solid $color-white;

	.divider{
		background-color: $color-white;
		width: .2rem;
		height: 4.9rem;
		position: absolute;
		top: 1.3rem;
		left: 40.7rem;
	}

	.link a{

		&:link,
		&:visited{
			text-transform: uppercase;
			position: absolute;
			top: 2.8rem;
			left: 43rem;
			text-decoration: none;
			font-size: $link-font;
			color: $color-white;
			transition: .3s;
			letter-spacing: $letter-spacing-1;

			&:after{
				content: '';
				position: absolute;
				top: 1.5rem;
				right: -2.8rem;
				z-index: 10;
				pointer-events: inherit;
				height: 1.5rem;
				width: 1.5rem;
				border-left: 2.5px solid $color-white;
				border-bottom: 2.5px solid $color-white;
				transform: translate(-50%, -50%) rotate(-135deg);
				transition: .6s;
			}
		}

		&:hover{
			color: $color-light-blue;

			&:after{
				content: '';
				border-left: 2.5px solid $color-light-blue;
				border-bottom: 2.5px solid $color-light-blue;
				transform: translate(-20%, -50%) rotate(-135deg);
			}	
		}
	}

	&__option{
		display: block;
		position: relative;

		&--select{
			position: absolute;
			right: 27rem;
			top: 2.3rem;
			width: 20rem;
			height: 3rem;
			border: none;
			border-bottom-left-radius: 1rem;
			border-top-left-radius: 1rem;
			box-shadow: 0 .3rem 1rem rgba($color-dark-blue,.2);
			outline: none;
			-webkit-appearance: button;
			-moz-appearance: button;
			appearance: button;
			font-size: $small-font-size;
			cursor: pointer;
		}

		&:before{
			content: '';
			position: absolute;
			top: 3.6rem;
			right: 27.4rem;
			z-index: 10;
			pointer-events: none;
			height: 1.5rem;
			width: 1.5rem;
			border-left: 2.5px solid $color-gray-light;
			border-bottom: 2.5px solid $color-gray-light;
			transform: translate(-50%, -50%) rotate(-45deg);
			transition: .3s;
		}

		&:hover:before{
			border-color: $color-light-blue;
		}	
	}
}

