.btn{

	/*------------------------------
			Product list button
	--------------------------------*/
	&__list,
	&__list:link,
	&__list:visited{
		
		top: 2.3rem;
		right: 17rem;
		width: 10rem;
		height: 3rem;
		background-color: $color-rose-red;
		border-top-right-radius: 1rem;
		border-bottom-right-radius: 1rem;
		
		@include button_list-add();
	}


	/*------------------------------
			Add product button
	--------------------------------*/

	&__add,
	&__add:link,
	&__add:visited{
		
		top: -22.8rem;
		right: 2.6rem;
		width: 13rem;
		height: 4rem;
		background-color: $color-dark-blue;
		border-radius: 1rem;
		z-index: 50;
		
		@include button_list-add();
	}
}
