.card{
	background-color: $color-dark-blue;
	color: $color-white;
	width: 25rem;
	height: 26.5rem;
	border-radius: 1rem;
	overflow: hidden;
	position: relative;
	display: inline-block;
	margin: 2.3rem;

	&__checkbox{
		position: absolute;
		top: .3rem;
		left: 1.5rem;

		.checkboxContainer input{
			display: none;
		}

		.checkboxContainer{
			display: inline-block;
			position: relative;
			top: 1rem;
			width: 3rem;
			height: 3rem;
			cursor: pointer;
			font-family: sans-serif;
			font-size: 2.5rem;;
			
			.checkmark{
				display: inline-block;
				width: 2.5rem;
				height: 2.5rem;
				background-color: $color-white;
				border: 1px solid $color-gray-light;
				position: absolute;
				left: 0;
				top: 2px;
				border-radius: 4px;
			}
			
			input:checked + .checkmark{
				background-color: $color-mid-dark-blue;
				border: 1px solid $color-white;
				transition: .2s;
			}

			&:hover .checkmark{
				background-color: $color-mid-dark-blue;
			}
			
			input:checked + .checkmark:after{
				content: "";
				position: absolute;
				height: 4px;
				width: 9px;
				border-left: 2px solid $color-white;
				border-bottom: 2px solid $color-white;
				top: 45%;
				left: 50%;
				transform: translate(-50%, -50%) rotate(-45deg);
			}
		}	
	}
	
	&:hover{
		box-shadow: 2px 2px 10px $color-mid-dark-blue;
		transition: all .3s;
	}
	

	&__picture{
		background-repeat: no-repeat;
		background-size: cover;
		height: 10rem;
		width: 26rem;
		position: relative;
		left: 50%;
		transform: translateX(-50%);

		&--1{
			background-image: url(../img/dvd.jpg);
		}

		&--2{
			background-image: url(../img/book.jpg);
		}

		&--3{
			background-image: url(../img/chair.jpg);
		}
	}

	&__details{
		
		margin-top: 1.6rem;
		line-height: 3.3rem;
		letter-spacing: $letter-spacing-half;
		text-align: center;
		text-align: -moz-center;
		text-align: -webkit-center;

		ul{
			list-style: none;
			width: 60%;
			margin: 0 auto;

			li{
				text-align: center;
				font-size: $default-font-size;
				color: $color-white;
				padding: 2px 0;
				margin: 0 -2.8rem;
				position: relative;
				top: 1.2rem;
				left: -7%;
				width: 23rem;

				&:not(:last-child){
					border-bottom: 1px solid $color-light-blue;
				}
			}
		}

		&--data{
			font-size: $small-font-size;
		}
	}
}

.dvd_parameters, .book_parameters, .furniture_parameters {
  display: none;    
}

ul.dvd .dvd_parameters, ul.book .book_parameters, ul.furniture .furniture_parameters{
  display: block;
}

