
.main-form{
	position: relative;
	top: 14rem;
	left: 2rem;
	display: grid;

	@include form-input_label-style();
}

.switch-type{
	position: absolute;
	top: 24rem;
	right: 36rem;

	&__option{
		display: block;
		position: absolute;

		&--select{
			position: relative;
			right: -20.2rem;
			top: -27.5rem;
			width: 35rem;
			height: 4rem;
			border: none;
			border-radius: 1rem;
			box-shadow: 0 .3rem 1rem rgba($color-dark-blue,.2);
			outline: none;
			-webkit-appearance: button;
			-moz-appearance: button;
			appearance: button;
			font-size: $small-font-size;
			cursor: pointer;
		}
	}

	&:before{
			content: '';
			position: absolute;
			top: -26rem;
			right: -18.8rem;
			z-index: 20;
			pointer-events: none;
			height: 1.5rem;
			width: 1.5rem;
			border-left: 2.5px solid $color-gray-light;
			border-bottom: 2.5px solid $color-gray-light;
			transform: translate(-50%, -50%) rotate(-45deg);
			transition: .3s;
	}

	&:hover:before{
		border-color: $color-light-blue;
	}
}

.form-changer{

	background-color: $color-gray-light-2;
	width: 36%;
	height: 23rem;
	border-radius: 1rem;
	position: relative;
	top: -29rem;
	left: 69rem;
	box-shadow: 3px 5px 12px $color-gray-light;
	
	/*----------------------
			DISC SIZE
	------------------------*/
	&__size{
		position: absolute;
		top: 4.2rem;
		left: 50%;
		transform: translateX(-53%);
		
		@include form-input_label-style();

		@include form-changer-description();
		
	}

	/*----------------------
			BOOK WEIGHT
	------------------------*/
	&__weight{
		position: absolute;
		top: 4.2rem;
		left: 50%;
		transform: translateX(-53%);
		
		@include form-input_label-style();

		@include form-changer-description();
	}

	/*----------------------
	  FURNITURE DIMENSION
	------------------------*/
	&__dimension{
		position: absolute;
		top: 4.2rem;
		left: 50%;
		transform: translateX(-50%);
		display: flex;
		align-items: baseline;
		
		@include form-input_label-style();

		@include form-changer-description();
	}

	input[name=size],
	input[name=weight]{
		width: 28rem;
	}

	input[name=height],
	input[name=width],
	input[name=length]{
		position: relative;
		top: 3rem;
		left: -7rem;
		width: 7.5rem;
		margin-left: 3rem;
	}

	label[for=weight],
	label[for=size]{
		font-size: $label-font-size;
	}
	label[for=dimension]{
		position: relative;
		top: -2rem;
		left: 5rem;
		font-size: $label-font-size;
	}
}



