*,
*::after,
*::before{
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html{
	font-size: 62.5%; 
}

body{
	box-sizing: border-box;
	padding: 3rem;
}

/*-------------------------------
			INDEX PAGE
---------------------------------*/
.container{
	@include container();
	grid-template-rows: repeat(2, 90vh);
	position: relative;
}

.main-content{
	@include main-content();
	display: table;
	height: 70%;
	position: absolute;
	top: 11rem;
	left: 50%;
	transform: translateX(-50%);
}

/*-------------------------------
		ADD PRODUCT PAGE
---------------------------------*/

.container-form{
	@include container();
	grid-template-rows: 96vh;
}

.main-form-content{
	@include main-content();
	position: absolute;
	top: 11rem;
	left: 50%;
	transform: translateX(-50%);
	height: 70vh;
	grid-template-columns: repeat(2, 1fr);
}
