body{
	font-family: Lato;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.7;
	color: $color-dark-blue;
}

.heading-primary{
	grid-column: 1 / 2;
	grid-row: 1 / 2;
	
	position: absolute;
	font-size: $main-heading;
	font-weight: lighter;
	letter-spacing: $letter-spacing-1;
	color: $color-white; 
	left: 16rem;
}

.btn-text{
	color: $color-white;
	font-family: inherit;
	font-size: $default-font-size;
	text-transform: uppercase;
	letter-spacing: $letter-spacing-1;
}

.warning{
	color: $color-rose-red;
	font-family: inherit;
	font-size: $small-font-size;
	position: relative;
	bottom: -1rem;
	left: 5rem;
}

.error-handler{
		position: absolute;
		left: 7rem;
		top: 1rem;
		line-height: 1.3;
		
		&__error{
			font-size: $default-font-size;
			color: $color-rose-red;
		}
}